server:
  port: 9090

spring:
  application:
    name: data-layer
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
  h2:
    console:
      enabled: true
      path: /h2-console

mybatis:
  type-aliases-package: com.demo.grpc.data.entity

logging:
  level:
    com.demo.grpc: DEBUG
    org.springframework: INFO

